body {
    background: lightgray;
    font-family: Arial Verdana;
}
header, footer {
    background: grey;
    color: floralwhite;
    text-align: center;
    margin: auto;
    padding: 10px;
    text-transform: uppercase;
}
form {
    margin: 10px auto;
    background: floralwhite;
    text-align: center;
    width: 60%;
    border: 2px double grey;
}
input[type=submit]{
    display: block;
    background: grey;
    color: floralwhite;
    border: none;
    height: 30px;
    width: 50%;
    font-weight: bold;
    margin: 10px auto;
}
input[type=submit]:hover{
    background-color: dimgrey;
    cursor: pointer;
}
textarea {
    background: floralwhite;
    width: 40%;
    box-sizing: border-box;
    margin: 10px;
    padding: 2px 10px;
    resize: none;
    border: 2px solid grey;
}
.result{
    text-align: center;
    width: 80%;
}